*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

@media (min-width: 601px){
  #menu_gallery{
    display: grid;
    height: 8vh;
    grid-template-areas:
    'nav nav nav nav'
  }

  #container_gallery{
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'mn mn mn mn'
    'ft ft ft ft'
  }  
  
  #container{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'main main main main'
        'as tx tx tx'
        'ft ft ft ft'
    }
    
  #hd{
    grid-area: hd;
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    }

    #main{
        grid-area: main;
        background-color: aqua;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #as{
        grid-area: as;
        background-color: blueviolet;
        height: 400px;
    }
    #tx{
        grid-area: tx;
        background-color: blue;
        padding: 1rem;
    }
    #ft{
        grid-area: ft;
        background-color: brown;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }

    #img_size{
      width: 100%;
      height: 400px;
    }

    #mn{
      grid-area: mn;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      justify-content: space-around;
      row-gap: 1rem;
      margin-bottom: 1rem;
      }

      .hide{
        opacity: 0;
        border-radius: 1rem;
        text-align: center;
      }

      .bild:hover + .hide{
        transform: scale(1.01);
        background-color: black;
        opacity: 1;
        transition: 0.5s;
        color: #ffffff;
      }
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: blue;
    color: white;
    height: 8vh;
    width: 100%;
    box-sizing: border-box;
}

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
      color: rgb(189, 188, 255);
  }

  nav .links {
    display: flex;
  }
  .links p {
    padding: 10px;
  }
  #mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    color: white;
    display: none;
    position: fixed;
    right: 0;
    top: 8vh;
    height: 60vh;
    width: 70vw;
    background-color: blue;
  }

  @media (max-width: 600px) { /*Om skärmen är för liten*/
    #mobile-menu-btn {
      display: block;
    }
    nav p {
      display: none;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    #container{
        display: grid;
        width: 100vw;
        grid-template-areas: 
        'main main'
        'as tx'
        'ft ft'
    }
    
    #container_gallery{
      display: grid;
      width: 100vw;
      grid-template-areas:
      'hd'
      'mn'
      'ft'
    }  

    #main{
        grid-area: main;
        background-color: aqua;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    #img_size{
      height: 400px;
    }

    #as{
        grid-area: as;
        background-color: blueviolet;
        height: 400px;
    }
    #tx{
        grid-area: tx;
        background-color: blue;
        width: 75vw;
    }
    #ft{
        grid-area: ft;
        background-color: brown;
    }

    #mn{
      grid-area: mn;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    #hd{
      grid-area: hd;
      text-align: center;
      font-size: xx-large;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }

    .hide{
      opacity: 0;
      border-radius: 1rem;
      text-align: center;
    }

    .bild:active + .hide{
      transform: scale(1.01);
      background-color: black;
      opacity: 1;
      transition: 0.5s;
      color: #ffffff;
    }

  }

