*{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
.white_text{
  color: #f1f1f1;
}

.paddingtext{
  padding: 0.5rem;
}

.verdana{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#link{
  text-decoration: none;
}

body{
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgba(255, 136, 0, 1);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: rgba(255, 136, 0, 0.7);;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.menu{
  display: grid;
  height: 8vh;
  grid-template-areas:
  'nav nav nav nav'
}

@media (min-width: 601px){
  #container_gallery{
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'mn mn mn mn'
    'ft ft ft ft'
  }  

  #container_article{
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'ig te te te3'
    'te2 te2 te4 ig2'
    'rt rt ig3 ig3'
    'ft ft ft ft'
  }
  
  .img_border{
    border-radius: 2rem;
  }

  #te4{
    grid-area: te4;
    background-color: rgba(255, 136, 0, 1);
    color: #000000;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
  }

  #te3{
    grid-area: te3;
    background-color: rgba(255, 136, 0, 1);
    color: #000000;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
  }

  #rt{
    grid-area: rt;
    margin-left: 2rem;    
  }

  #rating_text{
    background-color: rgba(255, 136, 0, 1);
    color: #000000;
    border-radius: 1rem;
    font-size: 2.85rem;
    text-align: center;
  }

  #rt + #ig3{
    margin-bottom: 2rem;
  }

  #rating_img{
    height: 65px;
    margin-left: 1rem;
  }

  #img_resize2{
    height: 330px;
  }

  #ig3{
    grid-area: ig3;
    align-items: center;
  }

  #ig2{
    grid-area: ig2;
    margin: 2rem;
  }

  #ig{
    grid-area: ig;
    margin: 2rem;
  }

  #ig_resize{
    margin-left: 3rem;
  }

  #te{
    grid-area: te;
    background-color: rgba(255, 136, 0, 1);
    color: #000000;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
  }

  #te2{
    grid-area: te2;
    background-color: rgba(255, 136, 0, 1);
    color: #000000;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
  }

  .size_up{
    font-size: 2rem;
  }

  #flex_list{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-left: 4rem;
  }

  #container{
    display: grid;
    width: 100vw;
    grid-template-areas: 
    'main main main main'
    'as tx tx tx2'
    'bg bg gl gl'
    'ft ft ft ft'
  }

  .text_size{
    font-size: 3rem;
  }

  .bg_links{
    background-color: #000000;
    font-size: 3rem;
    color: rgba(255, 136, 0, 1);
    text-align: center;
  }

  .bg_a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 1rem;
    margin: 0 10px;
    padding: 2rem;
  }

  .bg_a:hover{
    color: rgb(189, 188, 255);
  }

  #bg{
    grid-area: bg;
    display: grid;
    background-color: rgba(255, 136, 0, 1);
    border-radius: 2rem;
    padding: 1.5rem;
    height: 600px;
    width: minmax(auto, 50vw);
    margin-left: 5rem;
    margin-right: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 25% 25%;
    grid-template-areas:
    'heade heade'
    'image txt'
    'image txt'
    'gridButton gridButton'
  }

  #heade{
    grid-area: heade;
  }

  #image{
    grid-area: image;
    margin-top: 1rem;
  }

  #txt{
    grid-area: txt;
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 3rem;
  }

  #gridButton{
    grid-area: gridButton;
  }

  #gl{
    grid-area: gl;
    display: grid;
    background-color: rgba(255, 136, 0, 1);
    border-radius: 2rem;
    width: minmax(auto, 50vw);
    padding: 1.5rem;
    height: 600px;
    margin-right: 5rem;
    margin-left: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 25% 25%;
    grid-template-areas:
    'gl_heade gl_heade'
    'gl_image gl_txt'
    'gl_image gl_txt'
    'gl_gridButton gl_gridButton'
  }

  #gl_gridButton{
    grid-area: gl_gridButton;
  }

  #gl_heade{
    grid-area: gl_heade;
  }

  #gl_txt{
    grid-area: gl_txt;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #gl_image{
    grid-area: gl_image;
    margin-top: 1rem;
  }

  #bg, #gl{
    margin-bottom: 10rem;
  }

  #img_header{
    padding-left: 8.5rem;
    font-size: 2rem;
  }

  .center{
    text-align: center;
    padding-bottom: 1rem;
  }

  .hd{
    grid-area: hd;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
  }

    .blogg_box{
      border: 10px solid rgba(255, 136, 0, 1);
      width: 420px;
      border-radius: 1rem;
    }

    #main{
        grid-area: main;
        background-color: aqua;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-image: url(../img/Index_bakgrund.jpg);
        margin-bottom: 15rem;
    }
    #as{
        grid-area: as;
        background-color: black;
        height: 400px;
    }
    #tx{
        grid-area: tx;
        background-color: rgba(255, 136, 0, 1);
        border-radius: 2rem;
        color: #000000;
        padding: 1.5rem;
        margin-top: 37px;
        height: 400px;
        width: 700px;
        margin-left: 10rem;
    }

    #tx2{
      grid-area: tx2;
      background-color: rgba(255, 136, 0, 1);
      border-radius: 2rem;
      color: #000000;
      padding: 2rem;
      margin-top: 37px;
      margin-right: 5rem;
      height: 400px;
      width: 400px;
    }

    #as, #tx, #tx2{
      margin-bottom: 15rem;
    }

    .list_items_tx2{
      padding-bottom: 2rem;
      padding-left: 1rem;
      font-size: 1.3rem;
    }

    .footertext{
      background-color: rgba(255, 136, 0, 1);
      border-radius: 1rem;
      padding: 1rem;
    }

    #ft{
        grid-area: ft;
        color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }

    .nav_links{
      background-color: rgba(255, 136, 0, 1);
    }

    #img_size{
      width: 300px;
      height: 400px;
      border-radius: 2rem;
      margin-left: 5rem;
    }

    #mn{
      grid-area: mn;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      justify-content: space-around;
      row-gap: 1rem;
      margin-bottom: 1rem;
      }

      .hide{
        opacity: 0;
        border-radius: 1rem;
        text-align: center;
      }

      .bild:hover + .hide{
        transform: scale(1.01);
        background-color: black;
        opacity: 1;
        transition: 0.5s;
        color: #ffffff;
      }
   
  .a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 1rem;
    margin: 0 10px;
  }

  .a:hover {
      color: rgb(189, 188, 255);
  }
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 30px;
    color: white;
    height: 8vh;
    width: 100%;
    box-sizing: border-box;
}


  nav .links {
    display: flex;
  }
  .links p {
    padding: 10px;
  }
  #mobile-menu-btn {
    display: none;
    background-color: rgba(255, 136, 0, 1);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .mobile-menu {
    color: white;
    display: none;
    position: fixed;
    right: 0;
    top: 8vh;
    height: 60vh;
    width: 70vw;
    background-color:black;
  }

  @media (max-width: 600px) { /*Om skärmen är för liten*/ 
  .a {
    color: black;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 1rem;
  }

  .a:hover {
      color: rgb(189, 188, 255);
  }
    
    #mobile-menu-btn {
      display: block;
      color: #000000;
    }

    .hd{
      grid-area: hd;
      text-align: center;
      font-size: 3rem;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }

    #hd1{
      grid-area: hd1;
      font-size: 1.4rem;
      color: #f1f1f1;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }

    .ig_border{
      border-radius: 1rem;
    }

    body{
      overflow-x: hidden;
    }

    #flex_list{
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      list-style: none;
    }

    #rt{
      grid-area: rt;
      margin-left: 2rem;    
    }

    .img_border{
      border-radius: 2rem;
    }

    #rating_img{
      width: 80%;
      margin-left: 1rem;
    }

  #ig3{
    grid-area: ig3;
    align-items: center;
  }

  #ig2{
    grid-area: ig2;
    margin: 2rem;
  }

  #rating_text{
    background-color: rgba(255, 136, 0, 1);
    color: black;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  #rt + #ig3{
    margin-bottom: 2rem;
  }

  #ig_resize{
    width: 320px;
  }

  #ig{
    grid-area: ig;
    margin: 2rem;
  }

  #img_resize2{
    width: 320px;
  }

  #ig_resize2{
    width: 200px;
  }

  #te{
    grid-area: te;
    background-color: rgba(255, 136, 0, 1);
    color: black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }

  #te2{
    grid-area: te2;
    background-color: rgba(255, 136, 0, 1);
    color: black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }

    .img_resize{
      width: 100%;
    }

    .footertext{
      background-color: rgb(255, 136, 0);
      border-radius: 1rem;
      padding: 1rem;
    }

    .blogg_box{
      border: 10px solid rgba(255, 136, 0, 1);
      width: 375px;
      border-radius: 1rem;
    }

    nav p {
      display: none;
    }

    .nav_links_mini{
      background-color: rgba(255, 136, 0, 1);
      color: #000000;
    }

    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    #menu{
      display: grid;
      height: 8vh;
      grid-template-areas:
      'nav nav nav nav'
    }

    #container{
        display: grid;
        width: 100vw;
        grid-template-rows: 100vh 261px 300px 630px 660px 8rem;
        grid-template-areas: 
        'main main'
        'as tx'
        'tx2 tx2'
        'bg bg'
        'gl gl'
        'ft ft'
    }
    
    #container_article{
      display: grid;
      grid-template-areas:
      'hd1 hd1'
      'ig ig'
      'te te'
      'te3 te3'
      'ig2 ig2'
      'te2 te2'
      'te4 te4'
      'rt ig3'
      'ft ft'
    }

    #te3{
      grid-area: te3;
      background-color: rgba(255, 136, 0, 1);
      color: black;
      border-radius: 2rem;
      padding: 2rem;
      margin: 2rem;
      width: 320px;
      height: 300px;
      overflow-y: scroll;
    }

    #te4{
      grid-area: te4;
      background-color: rgba(255, 136, 0, 1);
      color: black;
      border-radius: 2rem;
      padding: 2rem;
      margin: 2rem;
      width: 320px;
      height: 300px;
      overflow-y: scroll;
    }

    #bg{
      grid-area: bg;
      background-color: rgba(255, 136, 0, 1);
      border-radius: 1rem;
      padding: 1.5rem;
      margin-top: 5rem;
      width: 100%;
    }

    #gridButton{
      margin-left: 35%;
    }

    #image{
      margin-top: 1rem;
      width: 80%;
      margin-left: 2rem;
    }

    #txt{
      text-align: center;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    .bg_links{
      background-color: #000000;
      font-size: 1rem;
      color: rgba(255, 136, 0, 1);
      text-align: center;
    }
  
    .bg_a{
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 1rem;
      padding: 2rem;
    }

    #gl{
      grid-area: gl;
      background-color: rgba(255, 136, 0, 1);
      border-radius: 1rem;
      padding: 1.5rem;
      margin-top: 5rem;
      width: 100%;
    }

    #gl_gridButton{
      margin-left: 33%;
    }

    #gl_image{
      width: 80%;
      margin-left: 2rem;
      margin-top: 1rem;
    }

    #gl_txt{
      text-align: center;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    #tx2{
      grid-area: tx2;
      width: 100%;
      border-radius: 1rem;
      padding-left: 2rem;
      padding-top: 1rem;
      margin-top: 4rem;
      color: #000000;
      background-color: rgba(255, 136, 0, 1);
    }

    #img_header{
      text-align: center;
    }

    .list_items_tx2{
      padding-bottom: 1rem;
    }

    #container_gallery{
      display: grid;
      width: 100vw;
      grid-template-areas:
      'hd hd'
      'mn mn'
      'ft ft'
    }  

    #index_welcome_box{
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      border-radius: 1rem;
      padding: 0.5rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #main{
        grid-area: main;
        display: block;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-image: url(../img/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg);
        background-position: center top;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #as{
      grid-area: as;
      background-color: black;
    }

    #tx{
        grid-area: tx;
        background-color: rgba(255, 136, 0, 1);
        color: black;
        height: 261px;
        width: 48vw;
        overflow-y: scroll;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 28px;
    }

    .center{
      text-align: center;
    }

    #ft{
        grid-area: ft;
        color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
    }

    #mn{
      grid-area: mn;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    #hd{
      grid-area: hd;
      text-align: center;
      color: #ffffff;
      font-size: xx-large;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
    }

    .bild{
      width: 90vw;
    }

    .hide{
      opacity: 0;
      border-radius: 1rem;
      text-align: center;
    }

    .bild:hover + .hide{
      transform: scale(1.01);
      background-color: black;
      opacity: 1;
      transition: 0.5s;
      color: #ffffff;
    }
  }

