*{
    padding: 0px;
    margin: 0px;
    transition: 0.5 s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

@media (min-width: 601px){
    #container{
        display: grid;
        width: 100vw;
        grid-template-areas: 
        'main main'
        'as tx'
        'ft ft'
    }
    
    #main{
        grid-area: main;
        background-color: aqua;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #as{
        grid-area: as;
        background-color: blueviolet;
    }
    #tx{
        grid-area: tx;
        background-color: blue;
    }
    #ft{
        grid-area: ft;
        background-color: brown;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: blue;
    color: white;
    height: 8vh;
    width: 100%;
    box-sizing: border-box;
}

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
      color: rgb(189, 188, 255);
  }

  nav .links {
    display: flex;
  }
  .links p {
    padding: 10px;
  }
  #mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    color: white;
    display: none;
    position: absolute;
    right: 0;
    height: 60vh;
    width: 70vw;
    background-color: blue;
  }

  @media (max-width: 600px) { /*Om skärmen är för liten*/
    #mobile-menu-btn {
      display: block;
    }
    nav p {
      display: none;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    #container{
        display: grid;
        width: 100vw;
        grid-template-areas: 
        'main main'
        'as tx'
        'ft ft'
    }
    
    #main{
        grid-area: main;
        background-color: aqua;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #as{
        grid-area: as;
        background-color: blueviolet;
    }
    #tx{
        grid-area: tx;
        background-color: blue;
    }
    #ft{
        grid-area: ft;
        background-color: brown;
    }
  }